* {
    font-family: Calibri, sans-serif;
}

body {
    background-color: #333;
}

input:focus, button:focus {
    outline-width: 0;
}

p {
    margin: 0;
}

.pop-up {
    text-align: center;
    width: 400px;
    height: auto;
    background-color: white;
    padding: 40px;
    border-radius: 4px;
    margin: 40px auto 0 auto;
    position: relative;
    top: 100px;
}

.pop-up .cancel {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    text-align: center;
    background-color: #555555;
    padding: 5px;
    border-radius: 50px;
    color: white;
}

.pop-up .cancel p {
    margin-top: -6px;
    font-weight: bold;
}

.pop-up img {
    position: absolute;
    top: -53px;
    left: 122px;
    margin-right: auto;
    margin-left: auto;
    z-index: -1;
}

.pop-up input {
    border-width: 1px;
    border-color: #333;
    border-radius: 50px;
    height: 22px;
    width: 80%;
    background-color: #585858;
    position: relative;
    padding-left: 10px;
    color: white;
    left: -25px;
}

.pop-up button {
    border-width: 2px;
    border-color: #333;
    border-radius:0 50px 50px 0;
    height: 26px;
    width: 60px;
    background-color: #000000; 
    padding: 0;
    color: white;
    position: absolute;
    left: 370px;
    border-width: 0;
}

.pop-up #title {
    font-size: 43px;
    margin-bottom: 10px;
}

.pop-up #details {
    margin-bottom: 30px;
} 

.pop-up {
    animation: 2s popup both ease;
    top: 0;
}

@keyframes popup {
    0% {top: 20px; opacity: 0}
    100% { transform: translateY(120px); opacity: 1}
}
